<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Figure</title>
  </head>
  <body>
    <form action="/figures" method="post">
      <p>Name: <input type="text" name="figure[name]" value=""></p>

        <% @titles.each do |title|%>
          <input type="text" name="" value="">
        <% end %>
      <input type="submit" name="" value="Create Figure">
    </form>
  </body>
</html>
